*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    
}
body{
    margin:5px;
    background-color: rgb(178, 201, 247);
    overflow-x: hidden;
}

.navbar{
    height:5rem;
    background-color: #424CF0;
    position: sticky;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-radius: 0.75rem;
}

.nav{
    display: flex;
    height: 100%;
    width: 70%;
    justify-content: space-evenly;
    align-items: center;
}
.nav-logo{
    display: flex;
    align-items: center;
    opacity: 2;
}
.nav-a{
    cursor: pointer;
    text-decoration: none;
    color: white;
    opacity: 0.7;
}
.nav-a:hover{
    opacity: 3;
}
.nav-sign{
    width: 20%;
}
.nav-sign button{
    height: 2rem;
    width: 5rem;
    margin-left:8px;
    background-color:honeydew;
    border: none;
    border-radius: 5px;
    /* box-shadow: 5px 2px 3px black; */
    
}
.login:hover{
    /* box-shadow: 8px 8px 10px black;
    background-color: yellowgreen; */
    cursor: pointer;
}


.nav img{
    border-radius: 15px;
    padding-top: 5px;
}

.dropdown1{
    display: none;
    /* height: 260px;
    width: 200px; */
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgb(127, 111, 232);
}
.dropdown1 li{
    list-style-type:none;
    margin: 17px 10px;
    margin-left: 25px;
}
.dropdown1 li a{
    text-decoration: none;
    color: white;
    opacity: 0.7;
    padding: 15px;
    
}
.dropdown1 li a:hover{
    opacity: 2;
}
.nav span:hover .dropdown1{
    display: block;
    position: absolute;
    background-color: #424CF0;
    /* background-color: red; */
    margin-top: 5px;
    margin-left: -15px;
} 
.dropdown1 li i{
    margin-right: 5px;
}

.heroic{
  height: 400px;
  margin-top: 20px;
  /* background-color: yellow; */
}
.heroic img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}


.loan-track{
    padding: 60px 0px 30px;
}
.loan-heading{
    text-align: center;
    margin: 0px 0px 40px;
    font-size:x-large;
    letter-spacing: .06rem;
}
.loan-heading span{
    color: green;
}
.boxWrap{
    display: flex;
    flex-wrap: wrap;
}
.box{
    height: 130px;
    width: 310px;
    background-color:white;
    padding: 25px 25px 50px;
    border-radius: 40px;
    margin: 20px;
}
.box-head{
    position: relative;
    min-height: 47px;
    display: flex;
    align-items: center;
    /* padding-left: 65px; */
    
}
.box-head a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}
.box-head a:hover{
    color: blue;
}
.box p{
    opacity: 0.5;
    padding: 10px 0px;
    font-size: 0.9rem;
}
.heading21{
    padding-left: 15px;
    font-size: 20px;
}

.custom-container{
    margin-top: 10px;
}
.apply-link a{
    font-family: 'OpenSans-SemiBold';
    font-size: 18px;
    line-height: 19px;
    color: #1961ac;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
}
#learnMore{
    padding-left: 20px;
    color: green;
}

.common-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.common-title h2{
    font-size: 2rem;
    color: blue ;
}
.common-title span{
    color: #4c5f74;
    font-size: 1.4rem;
}
.view-list{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: column;
    gap: 20px;
    
}
.view-list-home{
    display: flex;
    justify-content: space-between;
    max-width: 860px;
    margin: 40px auto 0;
    padding: 50px 0;
}

@media (max-width: 767px) {
    .view-list-home {
        flex-wrap: wrap;
        padding: 0 15px;
    }
}

/* .get-loan-card{
    float: left;
    width: 100%;
} */
.loan-process-card{
    background:#2d3079;
    border-radius: 22px;
    height: 484px;
    width: 900px;
    margin:auto;
    display: flex;
    padding: 90px 90px 70px;
    align-items: center;
    justify-content: space-between;
}
.loan-process-title span{
    font-size: 24px;
    color: #fff;
    font-weight: 400;
}
.loan-process-title h3{
    margin: 16px 0 54px;
    color: #fff;
    font-size: 36px;
    line-height: 140%;
    font-weight: 600;
}

.loan-process-list .list-view{
    padding: 20px 24px;
    font-weight: 400;
    color: #fff;
    font-size: 20px;
    display: flex;
    border-radius: 12px;
}
.loan-process-list .list-view:hover{
    background-color: orange;
}



@media (max-width: 767px) {
    .loan-process-card {
        padding: 45px 15px;
        flex-wrap: wrap;
        border-radius: 0;
        height: 100%;
        width:min-content;
    }
}


/* footer part */

footer{
    height: 400px;
    background-color: #929fba;
    margin-top: 5rem;
    border-radius: 5px;
}
.foot-conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content:space-between;
    padding: 2.75rem 1rem;
    
}
.foot-row{
    display: flex;
    justify-content: center;
    align-items:flex-start;
    justify-content:space-evenly;
    width: 70%;
    
}
.foot-row li{
    padding-bottom: 20px;
    font-size: 1rem;
    list-style-type:none;
}
.rowItem li a{
    text-decoration: none;
    color:black;
}
.rowItem li a:hover{
    color: #424CF0;
}
.rowItem1{
    width: 24%;
    align-self: flex-start;

}
.row-icons{
    display: flex;
    padding-top: 20px;
  
}
.row-icons a{
    font-size: 1.5rem;
    margin-right: 0.75rem;
    opacity: 0.5;
}
.row-icons a:hover{
    opacity: 7;
    font-size: 30px;
}
.rowItem1 p{
    color: white;
    font-size: 1.25rem;
    cursor: pointer;
}