*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
body{
    margin: 20px;
    background-color: rgb(178, 201, 247);
}

.navbar{
    height:75px;
    background-color: #424CF0;
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-radius: 10px;
}
footer{
    height: 400px;
    /* background-color: yellowgreen; */
    margin-top: 20px;
}
.nav{
    display: flex;
    height: 100%;
    width: 50%;
    justify-content: space-evenly;
    align-items: center;
}
.nav span{
    cursor: pointer;
}
.nav-sign{
    width: 20%;
}
.nav-sign button{
    height: 30px;
    width: 80px;
    margin-left:8px;
    background-color:honeydew;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 2px 3px black;
    
}
.login:hover{
    /* box-shadow: 8px 8px 10px black;
    background-color: yellowgreen; */
    cursor: pointer;
}

.nav-logo{
    display: flex;
    align-items: center;
}

.nav span:hover{
    color:bisque;
}

.nav img{
    border-radius: 15px;
    padding-top: 5px;
}


.heroic{
  height: 400px;
  /* background-color: yellow; */
}


.loan-track{
    padding: 60px 0px 30px;
}
.loan-heading{
    text-align: center;
    margin: 0px 0px 40px;
    font-size:x-large;
    letter-spacing: .06rem;
}
.loan-heading span{
    color: green;
}
.boxWrap{
    display: flex;
    flex-wrap: wrap;
}
.box{
    height: 130px;
    width: 310px;
    background-color:white;
    padding: 25px 25px 50px;
    border-radius: 40px;
    margin: 20px;
}
.box-head{
    position: relative;
    min-height: 47px;
    display: flex;
    align-items: center;
    /* padding-left: 65px; */
    
}
.box-head a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}
.box-head a:hover{
    color: blue;
}
.box p{
    opacity: 0.5;
    padding: 10px 0px;
    font-size: 0.9rem;
}
.heading21{
    padding-left: 15px;
    font-size: 20px;
}

.custom-container{
    margin-top: 10px;
}
.apply-link a{
    font-family: 'OpenSans-SemiBold';
    font-size: 18px;
    line-height: 19px;
    color: #1961ac;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
}
#learnMore{
    padding-left: 20px;
    color: green;
}

.common-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.common-title h2{
    font-size: 2rem;
    color: blue ;
}
.common-title span{
    color: #4c5f74;
    font-size: 1.4rem;
}
.view-list{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: column;
    gap: 20px;
    
}
.view-list-home{
    display: flex;
    justify-content: space-between;
    max-width: 860px;
    margin: 40px auto 0;
    padding: 50px 0;
}

/* .get-loan-card{
    float: left;
    width: 100%;
} */
.loan-process-card{
    background:#2d3079;
    border-radius: 22px;
    height: 484px;
    width: 900px;
    margin:auto;
    display: flex;
    padding: 90px 90px 70px;
    align-items: center;
    justify-content: space-between;
}
.loan-process-title span{
    font-size: 24px;
    color: #fff;
    font-weight: 400;
}
.loan-process-title h3{
    margin: 16px 0 54px;
    color: #fff;
    font-size: 36px;
    line-height: 140%;
    font-weight: 600;
}

.loan-process-list .list-view{
    padding: 20px 24px;
    font-weight: 400;
    color: #fff;
    font-size: 20px;
    display: flex;
    border-radius: 12px;
}
.loan-process-list .list-view:hover{
    background-color: orange;
}

.patner-bank-main{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2rem;
}
.common-title{
    text-align: center;
    margin-bottom: 30px;
}