*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.navbar{
    height:64px;
    background-color: #424CF0;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.nav{
    display: flex;
    height: 100%;
    width: 50%;
    justify-content: space-evenly;
    align-items: center;
}
.nav span{
    cursor: pointer;
}
.nav-sign{
    width: 20%;
}
.nav-sign button{
    height: 30px;
    width: 80px;
    margin-left:8px;
    background-color:honeydew;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 2px 3px black;
    
}
.login:hover{
    /* box-shadow: 8px 8px 10px black;
    background-color: yellowgreen; */
    cursor: pointer;
}

.nav-logo{
    display: flex;
    align-items: center;
}

span:hover{
    color:bisque;
}

.nav img{
    border-radius: 15px;
    padding-top: 5px;
}